    .namefont {
        font-family: 'Dancing Script', cursive;
        /* font-size: 22px; */
    }

    .jumbotron {
        border-radius: 0px;
        background-image: url(../images/jumboimage.jpg);
        background-size: auto;
        background-repeat: no-repeat;
        background-position: 30% 50%;
    }

    .jumbotronmargin {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .bar {
        height: 50px;
        line-height: 50px;
    }

    @media screen and (max-width: 576px) {
        footer .col {
            width: 100%;
        }
    }