    .titlefont {
        font-family: 'Encode Sans Condensed', sans-serif;
    }

    .jumbotron {
        border-radius: 0px;
        background-image: url(../images/jumboimage.jpg);
        background-size: auto;
        background-repeat: no-repeat;
        background-position: 40% 60%;
    }

    .jumbotronmargin {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .bar {
        height: 85px;
    }

    @media screen and (max-width: 576px) {
        footer .col {
            width: 100%;
        }
    }